In [20]:
import pandas as pd

df1 = pd.read_excel('D:/浏览器下载/20220914-1bbc5a0e-9409-4ffa-adab-06f15090e2fb.xlsx')
df1.head()

      年    月    门店       销售收入       销售成本       销售毛利
0  2022  Jan  门店01  478803.28  295586.23  183217.05
1  2022  Jan  门店02  442108.16  330633.55  111474.61
2  2022  Jan  门店03  367875.06  190555.04  177320.02
3  2022  Jan  门店04  174356.94  138562.72   35794.22
4  2022  Jan  门店05  182158.68  113867.90   68290.78

In [21]:
df2 = pd.read_excel('D:/浏览器下载/20220914-1bbc5a0e-9409-4ffa-adab-06f15090e2fb.xlsx', sheet_name='Sheet2')
df2.head()

      年    月    门店   销售量
0  2022  Jan  门店01  1970
1  2022  Jan  门店02  2204
2  2022  Jan  门店03  1270
3  2022  Jan  门店04   923
4  2022  Jan  门店05   759

In [22]:
df3 = pd.merge(df1 , df2 , how = 'left')
df3.head()

      年    月    门店       销售收入       销售成本       销售毛利   销售量
0  2022  Jan  门店01  478803.28  295586.23  183217.05  1970
1  2022  Jan  门店02  442108.16  330633.55  111474.61  2204
2  2022  Jan  门店03  367875.06  190555.04  177320.02  1270
3  2022  Jan  门店04  174356.94  138562.72   35794.22   923
4  2022  Jan  门店05  182158.68  113867.90   68290.78   759

In [23]:
df4 = pd.concat([df1 , df2] , sort=False)
df4

        年    月    门店       销售收入       销售成本       销售毛利     销售量
0    2022  Jan  门店01  478803.28  295586.23  183217.05     NaN
1    2022  Jan  门店02  442108.16  330633.55  111474.61     NaN
2    2022  Jan  门店03  367875.06  190555.04  177320.02     NaN
3    2022  Jan  门店04  174356.94  138562.72   35794.22     NaN
4    2022  Jan  门店05  182158.68  113867.90   68290.78     NaN
..    ...  ...   ...        ...        ...        ...     ...
475  2022  Dec  门店36        NaN        NaN        NaN  1169.0
476  2022  Dec  门店37        NaN        NaN        NaN   815.0
477  2022  Dec  门店38        NaN        NaN        NaN   706.0
478  2022  Dec  门店39        NaN        NaN        NaN  1001.0
479  2022  Dec  门店40        NaN        NaN        NaN   669.0

[960 rows x 7 columns]

In [24]:
df4 = pd.concat([df1 , df2], axis=1, sort=False)
df4

        年    月    门店       销售收入       销售成本       销售毛利     年    月    门店   销售量
0    2022  Jan  门店01  478803.28  295586.23  183217.05  2022  Jan  门店01  1970
1    2022  Jan  门店02  442108.16  330633.55  111474.61  2022  Jan  门店02  2204
2    2022  Jan  门店03  367875.06  190555.04  177320.02  2022  Jan  门店03  1270
3    2022  Jan  门店04  174356.94  138562.72   35794.22  2022  Jan  门店04   923
4    2022  Jan  门店05  182158.68  113867.90   68290.78  2022  Jan  门店05   759
..    ...  ...   ...        ...        ...        ...   ...  ...   ...   ...
475  2022  Dec  门店36  260965.90  175340.61   85625.29  2022  Dec  门店36  1169
476  2022  Dec  门店37  182960.79  122197.14   60763.65  2022  Dec  门店37   815
477  2022  Dec  门店38  148970.11  105883.48   43086.63  2022  Dec  门店38   706
478  2022  Dec  门店39  268448.01  150128.45  118319.56  2022  Dec  门店39  1001
479  2022  Dec  门店40  149997.86  100382.35   49615.51  2022  Dec  门店40   669

[480 rows x 10 columns]

In [26]:
df4.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
475    False
476    False
477    False
478    False
479    False
Length: 480, dtype: bool

In [32]:
df5 = df4.drop_duplicates(inplace=True,ignore_index=True)
df5

In [34]:
df6 = df4.drop_duplicates(inplace=True,ignore_index=True)
df6

In [ ]:
for i in range(df4.shape[0]):
    for j in df4.columns:
        df4.loc[i,j] = str(df4.loc[i,j]).replace(' ','')
df4

## Pandas高阶函数

In [41]:
data = pd.read_excel('D:/浏览器下载/20220914-1bbc5a0e-9409-4ffa-adab-06f15090e2fb.xlsx')

In [42]:
for i in data['销售收入'].index:
    data.loc[i,'门店级别']='优秀门店' if data.loc[i,'销售收入'] >= 400000 else '非优秀门店'
data.head()

      年    月    门店       销售收入       销售成本       销售毛利   门店级别
0  2022  Jan  门店01  478803.28  295586.23  183217.05   优秀门店
1  2022  Jan  门店02  442108.16  330633.55  111474.61   优秀门店
2  2022  Jan  门店03  367875.06  190555.04  177320.02  非优秀门店
3  2022  Jan  门店04  174356.94  138562.72   35794.22  非优秀门店
4  2022  Jan  门店05  182158.68  113867.90   68290.78  非优秀门店

In [43]:
data['门店级别'] = data['门店级别'].map({'优秀门店':'A类门店','非优秀门店':'其他门店'})
data

        年    月    门店       销售收入       销售成本       销售毛利  门店级别
0    2022  Jan  门店01  478803.28  295586.23  183217.05  A类门店
1    2022  Jan  门店02  442108.16  330633.55  111474.61  A类门店
2    2022  Jan  门店03  367875.06  190555.04  177320.02  其他门店
3    2022  Jan  门店04  174356.94  138562.72   35794.22  其他门店
4    2022  Jan  门店05  182158.68  113867.90   68290.78  其他门店
..    ...  ...   ...        ...        ...        ...   ...
475  2022  Dec  门店36  260965.90  175340.61   85625.29  其他门店
476  2022  Dec  门店37  182960.79  122197.14   60763.65  其他门店
477  2022  Dec  门店38  148970.11  105883.48   43086.63  其他门店
478  2022  Dec  门店39  268448.01  150128.45  118319.56  其他门店
479  2022  Dec  门店40  149997.86  100382.35   49615.51  其他门店

[480 rows x 7 columns]