In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("D:/浏览器下载/20220914-1bbc5a0e-9409-4ffa-adab-06f15090e2fb.xlsx")
df.head()

      年    月    门店       销售收入       销售成本       销售毛利
0  2022  Jan  门店01  478803.28  295586.23  183217.05
1  2022  Jan  门店02  442108.16  330633.55  111474.61
2  2022  Jan  门店03  367875.06  190555.04  177320.02
3  2022  Jan  门店04  174356.94  138562.72   35794.22
4  2022  Jan  门店05  182158.68  113867.90   68290.78

In [ ]:
df['销售收入']

0      478803.28
1      442108.16
2      367875.06
3      174356.94
4      182158.68
         ...
475    260965.90
476    182960.79
477    148970.11
478    268448.01
479    149997.86
Name: 销售收入, Length: 480, dtype: float64

In [5]:
df[1:3]

      年    月    门店       销售收入       销售成本       销售毛利
1  2022  Jan  门店02  442108.16  330633.55  111474.61
2  2022  Jan  门店03  367875.06  190555.04  177320.02

In [6]:
df[['销售收入','销售成本']]

          销售收入       销售成本
0    478803.28  295586.23
1    442108.16  330633.55
2    367875.06  190555.04
3    174356.94  138562.72
4    182158.68  113867.90
..         ...        ...
475  260965.90  175340.61
476  182960.79  122197.14
477  148970.11  105883.48
478  268448.01  150128.45
479  149997.86  100382.35

[480 rows x 2 columns]

In [7]:
df[df['门店'] == '门店03']

        年    月    门店       销售收入       销售成本       销售毛利
2    2022  Jan  门店03  367875.06  190555.04  177320.02
42   2022  Feb  门店03  364772.94  188543.01  176229.93
82   2022  Mar  门店03  361670.82  186530.98  175139.84
122  2022  Apr  门店03  370068.37  191176.15  178892.22
162  2022  May  门店03  366966.25  189164.12  177802.13
202  2022  Jun  门店03  363864.13  187152.09  176712.04
242  2022  Jul  门店03  372261.68  191797.26  180464.42
282  2022  Aug  门店03  369159.56  189785.23  179374.33
322  2022  Sep  门店03  366057.44  187773.20  178284.24
362  2022  Oct  门店03  374454.99  192418.37  182036.62
402  2022  Nov  门店03  371352.87  190406.34  180946.53
442  2022  Dec  门店03  368250.75  188394.31  179856.44

In [8]:
df[(df['销售收入'] >= 400000) & (df['销售成本'] >= 300000)]

        年    月    门店       销售收入       销售成本       销售毛利
1    2022  Jan  门店02  442108.16  330633.55  111474.61
13   2022  Jan  门店14  420961.28  300253.67  120707.61
20   2022  Jan  门店21  448175.59  305059.40  143116.19
25   2022  Jan  门店26  498854.86  319221.31  179633.55
41   2022  Feb  门店02  439006.04  328621.52  110384.52
60   2022  Feb  门店21  445073.47  303047.37  142026.10
65   2022  Feb  门店26  495752.74  317209.28  178543.46
81   2022  Mar  门店02  435903.92  326609.49  109294.43
100  2022  Mar  门店21  441971.35  301035.34  140936.01
105  2022  Mar  门店26  492650.62  315197.25  177453.37
121  2022  Apr  门店02  444301.47  331254.66  113046.81
133  2022  Apr  门店14  423154.59  300874.78  122279.81
140  2022  Apr  门店21  450368.90  305680.51  144688.39
145  2022  Apr  门店26  501048.17  319842.42  181205.75
153  2022  Apr  门店34  442742.48  300594.54  142147.94
161  2022  May  门店02  441199.35  329242.63  111956.72
180  2022  May  门店21  447266.78  303668.48  143598.30
185  2022  May  门店26  497946.05  317830.39  180115.66
201  2022  Jun  门店02  438097.23  327230.60  110866.63
220  2022  Jun  门店21  444164.66  301656.45  142508.21
225  2022  Jun  门店26  494843.93  315818.36  179025.57
241  2022  Jul  门店02  446494.78  331875.77  114619.01
253  2022  Jul  门店14  425347.90  301495.89  123852.01
260  2022  Jul  门店21  452562.21  306301.62  146260.59
262  2022  Jul  门店23  443555.18  300076.84  143478.34
265  2022  Jul  门店26  503241.48  320463.53  182777.95
273  2022  Jul  门店34  444935.79  301215.65  143720.14
281  2022  Aug  门店02  443392.66  329863.74  113528.92
300  2022  Aug  门店21  449460.09  304289.59  145170.50
305  2022  Aug  门店26  500139.36  318451.50  181687.86
321  2022  Sep  门店02  440290.54  327851.71  112438.83
340  2022  Sep  门店21  446357.97  302277.56  144080.41
345  2022  Sep  门店26  497037.24  316439.47  180597.77
361  2022  Oct  门店02  448688.09  332496.88  116191.21
373  2022  Oct  门店14  427541.21  302117.00  125424.21
380  2022  Oct  门店21  454755.52  306922.73  147832.79
382  2022  Oct  门店23  445748.49  300697.95  145050.54
385  2022  Oct  门店26  505434.79  321084.64  184350.15
393  2022  Oct  门店34  447129.10  301836.76  145292.34
401  2022  Nov  门店02  445585.97  330484.85  115101.12
413  2022  Nov  门店14  424439.09  300104.97  124334.12
420  2022  Nov  门店21  451653.40  304910.70  146742.70
425  2022  Nov  门店26  502332.67  319072.61  183260.06
441  2022  Dec  门店02  442483.85  328472.82  114011.03
460  2022  Dec  门店21  448551.28  302898.67  145652.61
465  2022  Dec  门店26  499230.55  317060.58  182169.97

In [9]:
df[(df['销售收入'] >= 400000) | (df['销售成本'] >= 300000)]

        年    月    门店       销售收入       销售成本       销售毛利
0    2022  Jan  门店01  478803.28  295586.23  183217.05
1    2022  Jan  门店02  442108.16  330633.55  111474.61
5    2022  Jan  门店06  413329.60  241064.13  172265.47
13   2022  Jan  门店14  420961.28  300253.67  120707.61
16   2022  Jan  门店17  431575.69  223471.47  208104.22
..    ...  ...   ...        ...        ...        ...
456  2022  Dec  门店17  431951.38  221310.74  210640.64
460  2022  Dec  门店21  448551.28  302898.67  145652.61
462  2022  Dec  门店23  439544.25  296673.89  142870.36
465  2022  Dec  门店26  499230.55  317060.58  182169.97
473  2022  Dec  门店34  440924.86  297812.70  143112.16

[111 rows x 6 columns]

In [14]:
df.loc[2:5,'门店':'销售收入']

     门店       销售收入
2  门店03  367875.06
3  门店04  174356.94
4  门店05  182158.68
5  门店06  413329.60

In [17]:
df.iloc[:3,1:5]

     月    门店       销售收入       销售成本
0  Jan  门店01  478803.28  295586.23
1  Jan  门店02  442108.16  330633.55
2  Jan  门店03  367875.06  190555.04

In [19]:
df.describe()

            年           销售收入           销售成本           销售毛利
count   480.0     480.000000     480.000000     480.000000
mean   2022.0  299834.337750  191512.750750  108321.587000
std       0.0  103919.782544   70174.602013   45404.176607
min    2022.0  100024.530000   67211.500000   32813.030000
25%    2022.0  214257.017500  140340.737500   76008.210000
50%    2022.0  286253.440000  179318.610000  100302.285000
75%    2022.0  378582.420000  235986.072500  141117.927500
max    2022.0  505434.790000  332496.880000  212820.820000

In [21]:
df.sort_index(axis=0,ascending=False,inplace=True)
df.head()

        年    月    门店       销售收入       销售成本       销售毛利
479  2022  Dec  门店40  149997.86  100382.35   49615.51
478  2022  Dec  门店39  268448.01  150128.45  118319.56
477  2022  Dec  门店38  148970.11  105883.48   43086.63
476  2022  Dec  门店37  182960.79  122197.14   60763.65
475  2022  Dec  门店36  260965.90  175340.61   85625.29

In [22]:
df.sort_values(['销售毛利','销售收入'],ascending=[False,True],inplace=True)
df.head(10)

        年    月    门店       销售收入       销售成本       销售毛利
376  2022  Oct  门店17  438155.62  225334.80  212820.82
416  2022  Nov  门店17  435053.50  223322.77  211730.73
256  2022  Jul  门店17  435962.31  224713.69  211248.62
456  2022  Dec  门店17  431951.38  221310.74  210640.64
296  2022  Aug  门店17  432860.19  222701.66  210158.53
136  2022  Apr  门店17  433769.00  224092.58  209676.42
336  2022  Sep  门店17  429758.07  220689.63  209068.44
176  2022  May  门店17  430666.88  222080.55  208586.33
16   2022  Jan  门店17  431575.69  223471.47  208104.22
216  2022  Jun  门店17  427564.76  220068.52  207496.24

In [23]:
df1 = df.loc[df['月'] == 'Jan'].sort_values('销售收入',ascending=False)
df1['累计销售收入'] = df1['销售收入'].cumsum()
df1.head()

       年    月    门店       销售收入       销售成本       销售毛利      累计销售收入
25  2022  Jan  门店26  498854.86  319221.31  179633.55   498854.86
0   2022  Jan  门店01  478803.28  295586.23  183217.05   977658.14
20  2022  Jan  门店21  448175.59  305059.40  143116.19  1425833.73
1   2022  Jan  门店02  442108.16  330633.55  111474.61  1867941.89
33  2022  Jan  门店34  440549.17  299973.43  140575.74  2308491.06